.photoInfo {
    /* text-align: center; */
    /* font-weight: b old; */
    font-size: 20;
    margin: 10 10 0 10;
    padding: 10 10 10 10;
    background-color: white;
}

.photoMetaData {
    /* margin-top: 5; */
    margin-bottom: 5;
}

.label {
    font-size: 16;
    font-weight: bold;
}

.downloadBtn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: tomato; */
    /* margin: 10 10 10 10; */
    /* padding: 10 10 10 10; */
    height: 100%;

}

.backBtn {
    font-size: 40;
}

.downloadIcon {
    font-size: 80;
}

.actionBarTitle {
    font-size: 20;
    text-align: right;
}

.abstack {
    /* background-color: tomato; */
    /* height: 100%; */
    /* width: 100%; */
    vertical-align: center;
    margin-right: 15;
}