<ActionBar class="action-bar">
    <ActionBar.titleView class="abTitle">
        <GridLayout columns="auto, *, auto" class="abstack">
            <Label col=0 class="mdi backBtn" [text]="'mdi-arrow-back' | fonticon" (tap)="goBack()"></Label>
            <!-- <Label col=1 text=""></Label> -->
            <Label col=2 class="actionBarTitle" [text]="fileName" verticalAlignment="center"></Label>
        </GridLayout>
    </ActionBar.titleView>
</ActionBar>

<StackLayout class="wrapper" (swipe)="onSwipe($event)">
    <Image [src]="viewUrl" minHeight="200" backgroundColor="#555555"></Image>
    <GridLayout rows="auto, *">
        <StackLayout class="photoInfo" row=0>
            <!-- <Label class="label" text="Filename:"></Label>
            <Label [text]="fileName"></Label> -->
            <GridLayout class="photoMetaData" columns="*, *, *" rows="auto, auto, auto, auto"> 
                <Label col=0 row=0 class="label" text="Shutter Speed:"></Label>
                <Label col=0 row=1 [text]="shutterSpeed"></Label>

                <Label col=1 row=0 class="label" text="Aperture:"></Label>
                <Label col=1 row=1 [text]="aperture"></Label>

                <Label col=2 row=0 class="label" text="ISO:"></Label>
                <Label col=2 row=1 [text]="iso"></Label>
            </GridLayout>
            <Label class="label" text="Date taken:"></Label>
            <Label [text]="dateTime"></Label>
        </StackLayout>
        <FlexboxLayout class="downloadBtn" (tap)="onSave()" row=1>
            <Label class="mdi downloadIcon" [text]="'mdi-file-download' | fonticon"></Label>
            <Label text="Download image"></Label>
        </FlexboxLayout>
    </GridLayout>
</StackLayout>